{% extends 'email/base.mjml.twig' %}

{% block content %}
    <!--suppress InvalidUrlAttribute -->
    <mj-text color="#606468" font-family="Fira Sans" font-size="15px" line-height="20px">
        {{ 'user.password_reset.content.0'|trans({ '%username%': user.username }, 'emails') }}
    </mj-text>
    <mj-text color="#606468" font-family="Fira Sans" font-size="15px" line-height="20px">
        {{ 'user.password_reset.content.1'|trans({}, 'emails') }}
    </mj-text>
    <mj-text color="#606468" font-family="Fira Sans" font-size="15px" line-height="20px">
        {{ 'user.password_reset.content.2'|trans({}, 'emails') }}
    </mj-text>
    <mj-button background-color="#0085ad" border-radius="8px" color="#fff" font-family="Fira Sans" font-size="15px"
               href="{{ absolute_url(path('reset_password', { id: user.id, token: token.id })) }}"
               padding="20px 25px">
        {{ 'user.password_reset.content.3'|trans({}, 'emails') }}
    </mj-button>
    <mj-text color="#606468" font-family="Fira Sans" font-size="15px" line-height="20px">
        {{ 'user.password_reset.content.4'|trans({}, 'emails') }}
    </mj-text>
    <mj-text color="#606468" font-family="Fira Sans" font-size="15px" line-height="20px">
        <a href="{{ absolute_url(path('reset_password', { id: user.id, token: token.id })) }}">
            {{ absolute_url(path('reset_password', { id: user.id, token: token.id })) }}
        </a>
    </mj-text>
{% endblock %}
